<html>
  <head>
    <title>FAQ Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <script type="text/javascript" src="assets/gremlins.min.js" async></script>
  </head>
  <body>    
    <div id="App"></div>
  </body>
</html>
