#import-export {
  h3 {
    cursor:pointer;
  }

  .export-buttons {
    display:flex;
  }
  .import-buttons {
    display:flex;

    button {
      margin:5px;
    }
  }

  .v--modal {
    button {
      margin:10px;
      border-radius:10px;
      height:2em;
    }
  }
}
