nav {
  width:100%; 
  font-size:25px;
  margin-bottom:10px;
  box-shadow:$panel-shadow;
  background-color:$panel-color;
  .links {
    height:40px;
    .id {
      margin-left:10px; 
    }
    #logout{
      margin-right:10px;
      float:right;
    }
  }
  .spinner {
    height:5px;
    width:100%;
    background-color:black;
    transition:background-color 1s;
  }

  .spinnerActive {
    background-color:$action-color;
    transition:background-color .5s;
  }
}

