$id-font-size:20px; 

.QAs {
  border-radius:$border-radius/2;
  box-shadow:$panel-shadow;
  margin:10px; 
  .QA.labels {
    border-style:solid;
    border-width:0px 0px 5px 0px;
    display:flex;
    font-size:20px;
    .label {
      flex:1;
    }
    .label-Id {
      padding-left:5px;
    }
    .label-first {
      text-align:center;
    }
    .label-score {
      text-align:right;
    }
    .trash {
      padding-right:10px;
      .question {
        font-size:.8em;
      }
    }
    &:hover {
      background-color:darken($panel-color,10%);
    }
  }
  .QA{
    border-style:solid;
    border-width:1px;
    position:relative;
    overflow:hidden;

    hr {
      margin:5px;
    }
    [class*="hint--"] {
      position:initial
    }
    .score {
      color:$primary-color;
    }
    p {
      margin:0px;
    }
    
    .add {
      .fa-icon{
        height:10px;
        width:10px;
      }
    }
  }
  li {
    .A {
      position:relative;
      margin-left:10px;  
      .fa {
        cursor:pointer;
        margin-right:10px;
      }

    }
  }

  li:first-child {
    @include border-top-radius($border-radius/2);
    .QA {
      @include border-top-radius($border-radius/2);
    }
  }

  li:last-child {
    @include border-bottom-radius($border-radius/2);
    .QA {
      @include border-bottom-radius($border-radius/2);
    }
  }
}
.close:hover {
  background-color:$panel-color;
}
.close{
  background-color:darken($panel-color,10%);
  user-select:none;
}
.open,.select{
  background-color:$panel-color;
}

.open {
  padding-bottom:20px;
  padding:$QA-padding;
}

