$theme := {
    primary: #1fbcd3
    accent: #ffbb00
    secondary: #3157d5
    info: #0D47A1
    warning: #ffba21
    error: #a71000
    success: #1ddf48
}
@require '../../node_modules/vuetify/src/stylus/main.styl'
