#set ( $root="https://${context.apiId}.execute-api.${stageVariables.Region}.amazonaws.com/${context.stage}")

{
    "_links":{
        "imports":{
            "href":"$root/jobs/imports",
            "bucket":"$stageVariables.ImportBucket",
            "uploadPrefix":"data/",
            "statusPrefix":"Status/"
        }
    }
}

