node_modules
tmp
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint test folders
test
# don't lint coverage output
coverage
*.config.js
# dont lint eslint config
*.eslint*
