#set ($root="https://${!context.domainName}/${!context.stage}")

{
    "bucket":"${TestAllBucket}",
    "prefix":"status/",
    "perpage":"$input.params('perpage')",
    "token":"$input.params('token')",
    "type":"testall",
    "root":"$root"
}

