{
    "botname":"$stageVariables.BotName",
    "slottype":"$stageVariables.SlotType",
    "intent":"$stageVariables.Intent",
    "address":"$stageVariables.ESEndpoint",
    "index":"$stageVariables.ESIndex",
    "type":"$stageVariables.ESType"
}  
