#set ($root="https://${!context.domainName}/${!context.stage}")

{
    "bucket":"${AssetBucket}",
    "prefix":"examples/documents/",
    "perpage":"$input.params('perpage')",
    "token":"$input.params('token')",
    "root":"$root"
}

