<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnABot Client</title>
    <link href="https://unpkg.com/vuetify@0.14.7/dist/vuetify.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">
    <style>
        #lex-web {
            height:100%;
        }
    </style>
  </head>
  <body>
    <div id="App"></div>
    <script src="/client.js"></script>
  </body>
</html>
