button {
  flex:1;
  display:inline-block;
  cursor:pointer;
  padding:6px;
  width:30%;
  margin:2px 2px 10px 2px ;
  box-shadow:0px 0px 2px 2px grey;
  background-color:$controls-color;
  color:black;
  border-radius:10px;
  font-family: $base-font-family;                                                            
  font-size: $base-font-size;
  border:0;
}
button.down {
  box-shadow:0px 0px 1px 1px grey;
  .fa {
    color:black;
  }
}
button:active {
  box-shadow:0px 0px 1px 1px grey;
}
button:focus {
  outline:0px;
}
button:hover {
  color:$primary-color;
}

