$id-font-size:20px; 
.login-spinner {
  text-align:center;
}
#edit{
  max-width:800px;
  min-width:100px;
  width:80%;
  margin:auto;
  #controls {
    h3 {
      font-size:1.5em;
      cursor:pointer;
      margin:0px;
    }

    .container {
      text-align:right;
      margin-top:10px;
    }
  }
  .fa-icon {
    cursor:pointer;
    font-size:22px;
    &:hover {
      color:$primary-color;
    }
  }
  
  .fa {
    cursor:pointer;
    font-size:22px;
    &:hover {
      color:$primary-color;
    }
  }

  input {
    margin-bottom:0;
    padding:1px;
  }
  
  .edit-spinner{
    text-align:center;
    .fa {
      margin:50px;
    }
  }
  .edit-controls {
    display:inline-block;
    margin-right:5px;
  }
}





