$id-font-size:20px; 

.QA .Id-header {
  .bar {
    display:flex;
    .info {
      margin:auto;
      padding-right:10px;
    }
    .Id-title{
      flex:1.5;
      display:flex; 
      .carret {
        margin-left:5px;
        margin-right:10px;
        position:relative;

        svg {
          position:absolute;
          top:50%;
          transform:translateY(-50%);
        }
      }
      .text {
        word-break:break-word;
      }
      .text-input {
        flex:100;
        margin-right:40px;
        .workspace {
          margin:0;
        }
        textarea {
          font-size:$id-font-size;
          width:90%;
        }
        .text-area {
          font-size:$id-font-size;
        }
        .field-text {
          display:inline-block;
          font-size:$id-font-size;
        }
       
        .save {
          display:inline-block;
          border-radius:0px 0px $border-radius $border-radius;
          transition:margin .1s;
          overflow:hidden;
          height:30px;
        }
      }
      .opened .save {
        box-shadow:$panel-shadow;
        margin:-10px auto auto auto;
        padding:5px;
      }

      .closed .save {
        margin:-50px auto auto auto;
      }
    }
    .first-question {
      flex:2;
      display:flex;
      justify-content:center;
      flex-direction:column;
      min-width:0;

      .text {
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
    }
    .controls-container{
      flex:1;
      position:relative;
      .window-controls {
        background-color:$controls-color;
        position:absolute;
        right:-4*$QA-padding;
        box-shadow: -2px 0px 7px 0px;
        border-radius:$border-radius 0px 0px $border-radius;
        text-align:center;
        width:0px;
        transition:width .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        white-space:nowrap;
        overflow:hidden;
        .fa-icon {
          width:25px;
          height:25px;
        }
      }
      .window-controls.window-controls-open {
        width:260px;
      }
    }
  }
}

.open .Id-header .bar .controls-container .window-controls {
  width:105px;
}

.open .Id-header .bar {
  margin-left:-$QA-padding;
  padding:5px 0px;
}



