.trash {
  .fa-icon {
    &:hover {
      color:$action-color;
    }
  }

  .yes {
    color:$alert-color;
    cursor:pointer;

    &:hover {
      color:darken($alert-color,10%);
    }
  }

  .no {
    color:$success-color;
    cursor:pointer;
    &:hover {
      color:darken($success-color,10%);
    }
  }
}
