
$primary-color:#5294CF;
$secondary-color:#655ED6;
$alert-color:red;
$success-color:green;

$id-font-size:20px; 
$border-radius:10px;
$panel-border-radius:5px;
$panel-shadow:0px 0px 4px 1px;
$panel-color:#f5f5f5;
$controls-color:tint($panel-color,1%);

$QA-padding:5px;

@mixin panel(){
  border-radius:$panel-border-radius;
  box-shadow:$panel-shadow;
  background-color:$panel-color;
  padding:10px;
}
.hidden {
  visibility:hidden;
}
