#set ($root="https://${!context.domainName}/${!context.stage}")

{
    "region":"${!stageVariables.Region}",
    "Version":"${InfoVar.Version}",
    "BuildDate":"${InfoVar.BuildDateString}",
    "BotName":"Use LexV2 bot",
    "BotVersion":"$LATEST",
    "v2BotId": "${LexV2Bot.botId}",
    "v2BotAliasId": "${LexV2Bot.botAliasId}",
    "v2BotLocaleId": "${LexV2BotLocaleIds}",
    "PoolId":"${IdPool}",
    "StackName":"${AWS::StackName}",
    "ClientIdClient":"${ClientClient}",
    "ClientIdDesigner":"${ClientDesigner}",
    "UserPool":"${UserPool}",
    "StreamingWebSocketEndpoint": "$stageVariables.StreamingWebSocketEndpoint",
    "SolutionHelper": "${SolutionHelper}",
    "SettingsTable": "${SettingsTable}",
    "Id":"$stageVariables.Id",
    "_links":{
        "root":{
            "href":"$root"
        },
        "questions":{
            "href":"$root/questions"
        },        
        "crawler":{
            "href":"$root/crawler"
        },
        "crawlerV2":{
            "href":"$root/kendranativecrawler"
        },
        "bot":{
            "href":"$root/bot"
        },
        "jobs":{
            "href":"$root/jobs"
        },
        "connect":{
            "href":"$root/connect"
        },
        "genesys":{
            "href":"$root/genesys"
        },
        "translate":{
            "href":"$root/translate"
        },
        "examples":{
            "href":"$root/examples/documents"
        },
        "DesignerLogin":{
            "href":"$stageVariables.DesignerLoginUrl"
        },
        "ClientLogin":{
            "href":"$stageVariables.ClientLoginUrl"
        },
        "CognitoEndpoint":{
            "href":"$stageVariables.CognitoEndpoint"
        },
        "Services":{
            "href":"$root/services"
        },
        "OpenSearchDashboards":{
            "href":"https://${Urls.OpenSearchDashboards}"
        }
    }
}

