{
    "endpoint":"$stageVariables.ESEndpoint",
    "method":"POST",
#if($input.path('$.query').length()!=0)
    "path":"/$stageVariables.ESIndex/$stageVariables.ESType/_delete_by_query",
    "body":{
        "query":{
            "bool":{
                "must":{"match_all":{}},
                "filter":{"regexp":{
                    "qid":"$input.path('$.query')"
                }}
            }
        }
    }
#else
    "path":"/$stageVariables.ESIndex/$stageVariables.ESType/_bulk",
    "body":[
        #foreach($qid in $input.path('$.list'))
        { "delete":{
            "_index":"$stageVariables.ESIndex", 
            "_type" :"$stageVariables.ESType",
            "_id" : "$qid" } }#if($foreach.hasNext),#end
        #end
    ]
#end
}


