#set($inputRoot = $input.path('$'))

{
    "bucket":"${ExportBucket}",
    "index":"${Var.index}",
    "type":"${Var.type}",
    "config":"status/$input.params('proxy')",
    "key":"data/$input.params('proxy')",
    "filter":"$inputRoot.get('filter')",
    "status":"Started"
}

