#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}")
#set($inputRoot = $input.path('$'))

{
    "bucket":"${ExportBucket}",
    "prefix":"data/$input.params('proxy')",
    "filter":"$inputRoot.get('filter')"
}

