#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}")

{
    "_links":{
        "imports":{
            "href":"$root/jobs/imports",
            "bucket":"${ImportBucket}",
            "uploadPrefix":"data/",
            "statusPrefix":"Status/"
        },
        "exports":{
            "href":"$root/jobs/exports"
        }
    }
}

