#set ( $root="https://${!context.apiId}.execute-api.${!stageVariables.Region}.amazonaws.com/${!context.stage}")

{
    "bucket":"${TestAllBucket}",
    "prefix":"status/",
    "perpage":"$input.params('perpage')",
    "token":"$input.params('token')",
    "type":"testall",
    "root":"$root"
}

