#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}")

{
    "bucket":"${ImportBucket}",
    "prefix":"status/",
    "perpage":"$input.params('perpage')",
    "token":"$input.params('token')",
    "root":"$root"
}

