#set ( $root="https://${context.apiId}.execute-api.${stageVariables.Region}.amazonaws.com/${context.stage}")
#set($inputRoot = $input.path('$'))

{
    "lambdaArn":"$stageVariables.LambdaArn",
    "status":"$inputRoot.status",
    "botname":"$stageVariables.BotName",
    "_links":{
        "utterances":{
            "href":"$root/bot/utterances"
        }
    }
}

