#set ( $root="https://${context.apiId}.execute-api.${stageVariables.Region}.amazonaws.com/${context.stage}")

{
    "region":"$stageVariables.Region",
    "BotName":"$stageVariables.BotName",
    "PoolId":"$stageVariables.IdPool",
    "ClientIdClient":"$stageVariables.ClientIdClient",
    "ClientIdDesigner":"$stageVariables.ClientIdDesigner",
    "UserPool":"$stageVariables.UserPool",
    "Id":"$stageVariables.Id",
    "_links":{
        "root":{
            "href":"$root"
        },
        "questions":{
            "href":"$root/questions"
        },
        "bot":{
            "href":"$root/bot"
        },
        "DesignerLogin":{
            "href":"$stageVariables.DesignerLoginUrl"
        },
        "ClientLogin":{
            "href":"$stageVariables.ClientLoginUrl"
        }
    }
}

