#if($input.params('from') == 'all')
{   
    "Command":"EXPORT",
    "Filter":"$util.urlDecode($input.params('filter'))",
    "Query":"$util.urlDecode($input.params('query'))"
}
#elseif($input.params('query').length()>0)
{
    "Command":"SEARCH",
    "Query":"$util.urlDecode($input.params('query'))",
    "From":"$input.params('from')",
    "Topic":"$util.urlDecode($input.params('topic'))",
    "Perpage":"$input.params('perpage')"
}
#else
{
    "Command":"LIST",
    "From":"$input.params('from')",
    "Filter":"$util.urlDecode($input.params('filter'))",
    "Perpage":"$input.params('perpage')"
}
#end
