#set($inputRoot = $input.path('$'))
#set($vars=[
    {"name":"LAMBDA_PREPROCESS","value":$inputRoot.get('preprocess')},
    {"name":"LAMBDA_RESPONSE","value":$inputRoot.get('response')},
    {"name":"LAMBDA_LOG","value":$inputRoot.get('log')}
])
{
    "Environment":{
        "Variables":{
        #foreach($var in $vars)
            #if($var.value)
            "$var.name":"$var.value"#if( $foreach.hasNext ),#end
            #else
            "$var.name":""#if( $foreach.hasNext ),#end
            #end
        #end
        }
    }
}

