#set ( $root="https://${context.apiId}.execute-api.${stageVariables.Region}.amazonaws.com/${context.stage}")
#set($inputRoot = $input.path('$'))

{
    "lambdaArn":"$stageVariables.LambdaArn",
    "status":"$inputRoot.status",
    "botname":"$stageVariables.BotName",
    "messages":{
        "clarification":[
            #foreach($message in $input.path('$.clarificationPrompt.messages'))
            "$message.content"#if( $foreach.hasNext ),#end
            #end
        ],
        "abort":[
            #foreach($message in $input.path('$.abortStatement.messages'))
            "$message.content"#if( $foreach.hasNext ),#end
            #end
        ]
    },
    "_links":{
        "utterances":{
            "href":"$root/bot/utterances"
        },
        "alexa":{
            "href":"$root/bot/alexa"
        },
        "hooks":{
            "href":"$root/bot/hooks"
        }
    }
}

