{
    "endpoint":"${ESVar.ESAddress}",
    "method":"POST",
    "path":"/${Var.index}/_delete_by_query?refresh=wait_for",
    "body":{
        "query":{
            "match":{
                "qid":"$util.urlDecode($input.params('ID'))"
            }
        }
    }

}


