#set($inputRoot = $input.path('$'))

{
    "total":$inputRoot.hits.total,
    "version":"1",
    "qa":[
        #foreach( $hit in $inputRoot.hits.hits)
            {
                #set($Scorepath =  '$.hits.hits['+$foreach.index+']._score')
                "_score":$input.json($Scorepath),
                #set($Bodypath =  '$.hits.hits['+$foreach.index+']._source')
                #foreach($paramName in $input.path($Bodypath).keySet())
                    #if( $paramName == 'questions')
                        "q":[
                            #foreach( $question in $input.path($Bodypath).get($paramName))
                                "$question.q"
                                #if($foreach.hasNext),#end
                            #end
                        ]
                    #else
                        #set( $body =  $Bodypath+"."+$paramName)
                        "$paramName" :$input.json($body) 
                    #end
                #if($foreach.hasNext),#end
                #end
            }#if( $foreach.hasNext ),#end
        #end
    ]
}

