#set ( $root="https://${!context.apiId}.execute-api.${!stageVariables.Region}.amazonaws.com/${!context.stage}")

{
    "region":"${!stageVariables.Region}",
    "Version":"${InfoVar.Version}",
    "BuildDate":"${InfoVar.BuildDateString}",
    "BotName":"${LexBot}",
    "BotVersion":"${VersionAlias}",
    "PoolId":"${IdPool}",
    "StackName":"${AWS::StackName}",
    "ClientIdClient":"${ClientClient}",
    "ClientIdDesigner":"${ClientDesigner}",
    "UserPool":"${UserPool}",
    "DefaultQnABotSettings":"${DefaultQnABotSettings}",
    "CustomQnABotSettings":"${CustomQnABotSettings}",
    "KendraCrawlerSnsTopic":"${KendraCrawlerSnsTopic}",
    "Id":"$stageVariables.Id",
    "_links":{
        "root":{
            "href":"$root"
        },
        "questions":{
            "href":"$root/questions"
        },        
        "crawler":{
            "href":"$root/crawler"
        },
        "bot":{
            "href":"$root/bot"
        },
        "jobs":{
            "href":"$root/jobs"
        },
        "connect":{
            "href":"$root/connect"
        },
        "translate":{
            "href":"$root/translate"
        },
        "examples":{
            "href":"$root/examples/documents"
        },
        "DesignerLogin":{
            "href":"$stageVariables.DesignerLoginUrl"
        },
        "ClientLogin":{
            "href":"$stageVariables.ClientLoginUrl"
        },
        "CognitoEndpoint":{
            "href":"$stageVariables.CognitoEndpoint"
        },
        "Services":{
            "href":"$root/services"
        },
        "Kibana":{
            "href":"https://${Urls.Kibana}"
        }
    }
}

