appdirs==1.4.4
astroid==2.3.2
aws-adfs==1.24.5
boto3==1.12.39
botocore==1.19.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
configparser==5.0.1
cryptography==3.2.1
distlib==0.3.1
docutils==0.15.2
fido2==0.8.1
filelock==3.0.12
git-remote-codecommit==1.15.1
idna==2.10
importlib-metadata==1.7.0
isort==4.3.21
jmespath==0.9.5
lazy-object-proxy==1.4.2
lxml==4.6.1
mccabe==0.6.1
pycparser==2.20
pykerberos==1.2.1
pylint==2.4.3
pyOpenSSL==19.1.0
python-dateutil==2.8.1
requests==2.24.0
requests-kerberos==0.12.0
s3transfer==0.3.3
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.8
virtualenv==20.0.30
wrapt==1.11.2
zipp==3.1.0
